# Ignore environment and temporary folders
venv/
save/
profile/
trass/
chrome_profile/
debug/*/
export/*/
utils/__pycache__/
ffBotV1.zip
.vscode/
profile_test/
profile_workers/
UNKNOWN/
fix_date_format.ipynb
